- content_for :js do
  :javascript
    $(function(){
      window.temp = #{@song_list_json}
      window.songs = new Hotmess.Collections.Songs(temp);
      //window.songList = new Hotmess.Views.SongsListView(window.songs);
      //window.shortList = new Hotmess.Views.ShortListView();

      //$('#song_list').html(songList.render().el);
      //$('#short_list').html(shortList.render().el);
    });

%span
  stuff
