%script#hottest-player-template{type:'text/x-handlebars-template'}
  .current_song
    %h3.song_name
      Song Name
    .artist_name
      Artist Name
  .player_buttons
    %button.previous{title: 'previous song'}
      %svg.icon-prev{:viewbox => "0 0 22.68 17.01"}
        %use{"xlink:href" => "#prev"}
      %i.icon-previous
    %button.play-random.is_paused
      %svg.pause.icon-pause{:viewbox => "0 0 22.68 17.01"}
        %use{"xlink:href" => "#pause"}
      %i.pause.icon-pause
      %svg.play.icon-play{:viewbox => "0 0 22.68 17.01"}
        %use{"xlink:href" => "#play"}
      %i.play.icon-play
    %button.next{title: 'next song'}
      %svg.icon-next{:viewbox => "0 0 22.68 17.01"}
        %use{"xlink:href" => "#next"}
      %i.icon-next
    %button.continuous{title: 'continuous play'}
      %svg.icon-continuous{:viewbox => "0 0 38 22.9"}
        %use{"xlink:href" => "#continuous"}
      %i.icon-continuous
    %button.shuffle{title: 'shuffle play order'}
      %svg.icon-shuffle{:viewbox => "0 0 38 32.3"}
        %use{"xlink:href" => "#shuffle"}
      %i.icon-shuffle
