%script#saveload-template{type:'text/x-handlebars-template'}
  .email_display
    .current_email
    .btns
      load | save | vote
  %form
    %input#email{type:'email', placeholder:'you@youremail.com'}

    .side_tips
      %p.good
        Good times!
      %p.invalid.error
        Sad times, emails only please.
      %p.blank.error
        Sad times, please enter your email.

    .buttons
      %button.load.button.black
        Load
      %button.save.button.rosy
        Save
      %button.vote.button.red
        Vote
      .close_form_button
        %img{src: '/assets/red_cross.png'}
        %span
          Close
