%script#song-template{:type =>"text/x-handlebars-template"}
  %a{name:'{{first_letter name}}'}
  .song_header
    .song_tab
      .song_details
        %h3.song_name {{song_name_trim name}}
        .artist_name {{artist.name}}
    .buttons
      %button.short_list_to_pos.button.black.hotmess_regular.up{title: "Short list at position"}
        %i.icon-up
      %button.short_list_song.button.black{:title => "Short list at numeber 1"}
        %i.icon-plus
      %button.move_to_pos.button.black{:title => "Move to position"}
        %i.icon-up
      %button.remove.button.black{:title => "Remove song from list"}
        %i.icon-cross
  .song_extras
    .youtube_vid
    -#%img{src:"{{artist.image}}"}
    %a{href:'{{artist.content_link}}'}
      .desc
        {{artist.desc}}
