%script#song-artist-first-template{:type =>"text/x-handlebars-template"}
  .song_header
    .song_tab
      .song_details
        %h3.song_name {{artist.name}}
        .artist_name {{song_name_trim name}}
        .no-sound-assets-msg
          (Not playable)
    .buttons
      %button.short_list_to_pos.button.black.hotmess_regular.up{title: "Short list to top"}
        %i.icon-up
      %button.short_list_song.button.black{:title => "Short list"}
        %i.icon-plus
  .song_extras
    .youtube_vid
    -#%img{src:"{{artist.image}}"}
    %a{href:'{{artist.content_link}}'}
      .desc
        {{artist.desc}}
