%script#vote-template{:type =>"text/x-handlebars-template"}
  .vote-overlay
    .vote-screen
      %button.vote-close
        &times;
      .has-votes
        %h2
          Your picks of #{@year}

        .songs
          %ol
            {{#each songs}}
            %li {{name}} - {{artist.name}}
            {{/each}}

        .instructions
          %h2
            To sumbit your votes to Triple J

          %ol.instructions
            %li
              Copy these links
              %textarea
                :preserve
                  {{#each songs}}http://open.spotify.com/track/{{spotify_key}}
                  {{/each}}
            %li
              Now go to the
              %a{href:'http://www2b.abc.net.au/votecentral/Client/PlaceVote.aspx?E=106&MD=NominateCandidate#import', target:'_blank'}
                Hottest100 voting
              page

            %li
              Hit the spotify tab.
            %li
              Paste in your list
            %li
              Hit the submit button
            %li
              Jump through some Triple J hoops
            %li
              Aaaand your done, now go get your party on

      .no-votes
        hmmm you probably want to short list some songs first.

