%script#vote-template{:type =>"text/x-handlebars-template"}
  .vote-overlay
    .vote-screen
      %button.vote-close
        &times;
      .has-votes
        %h2
          Your #{@year} picks

        .songs
          %ol
            {{#each songs}}
            %li {{name}} - {{artist.name}}
            {{/each}}

        .instructions
          %h2
            Get those votes in!

          %p
            Sadly Triple J has removed the copy paste technique we used
            last year to get your picks in.

          %p
            I'm working on a Spotify/Rdio playlist importer, which will be
            ready before the deadline.

          %p
            Otherwise, for now it's back to the ol' hen picking your
            selection on the
            %a{href:'http://www.abc.net.au/triplej/hottest100/14/', target:'_blank'}
              Triple J site
            , SOZ

          -#Via spotify/rdio
          -#%br/
          -#The other hard way

          -#%ol.instructions
            -#%li
              -#Enter your username
              -#%input.username
              -#-#%textarea
                -#-#:preserve
                  -#-#{{#each songs}}http://open.spotify.com/track/{{spotify_key}}
                  -#-#{{/each}}
            -#%li
              -#%button.spotify
                -#Spotify my list
              -#%button.rdio
                -#Rdio my list
            -#%li
              -#Now go import that sucker here
              -#%a{href:'http://www.abc.net.au/triplej/hottest100/14/', target:'_blank'}
                -#Hottest100 voting
              -#page

      .no-votes
        hmmm you probably want to short list some songs first.

