%script#youtube-template{:type =>"text/x-handlebars-template"}
  -#<iframe width="560" height="315" src="http://www.youtube.com/embed/-9Iv4v52ras" frameborder="0" allowfullscreen></iframe>
  %iframe{width:"615",height:"342",src:"http://www.youtube.com/embed/{{youtube_url}}",frameborder:"0",allowfullscreen:'1'}
