@import 'mixins.css.sass'

header
  display: flex
  background-color: #fff
  border-bottom: solid 1px #ddd

  .center
    flex: 1

  .logo-block
    display: flex
    align-items: center
    height: 60px
    position: absolute

  .logo
    margin-left: 20px
    width: 200px
    +transition(all 300ms linear)

@media only screen and (max-width: 599px)
  header
    position: fixed
    z-index: 1
    top: 0
    height: 50px
    width: 100%
