header
  background-color: #fff
  border-bottom: solid 1px #ccc

  .logo
    -webkit-transition: all 300ms linear
    position: absolute
    margin: 15px

  &.open
    height: 92px

    .player
      display: none

    #save_load
      float: right
      position: relative

  h1
    font-size: 2em
  span
    font-size: 0.8em

  #save_load
    position: absolute
    right: 4%
    top: 5px

#app.active
  .logo
    margin-top: 25px

#app.hidden
  #header
    position: relative
