@import 'mixins.css.sass'

header
  display: flex
  background-color: #fff
  border-bottom: solid 1px #ccc

  .center
    flex: 1

  .logo-block
    display: flex
    align-items: center
    height: 60px
    position: absolute

  .logo
    margin-left: 20px
    width: 200px
    +transition(all 300ms linear)

  &.open
    height: 92px

    .player
      display: none

    #save_load
      float: right
      position: relative

  #save_load
    position: absolute
    right: 4%
    top: 5px

#app.active
  .logo
    margin-top: 20px

#app.hidden
  #header
    position: relative
