@import 'colours'

#loading
  margin-top: 40px

  .logo
    display: block
    width: 60%
    max-width: 500px
    margin: 0 auto 40px

  .waiting_list
    width: 420px
    margin: 20px auto
    list-style-type: none
    svg
      width: 60px
      float: left
      margin-right: 40px

    li
      overflow: hidden
      font-weight: bold
      font-size: 1.5rem
      line-height: 1.8rem
      margin-bottom: 40px
      text-transform: uppercase

    li:last-child
      text-align: center

    .rant
      padding-top: 7px

    .show-app
      font-size: 26px
      text-transform: uppercase
    .button-item
      overflow: visible

  .info
    width: 135px
    position: fixed
    bottom: 30px
    right: 30px
    line-height: 15px
    color: #666
    font-size: 13px

    p
      margin-top: 20px
    a
      display: block
      color: #4DADCE

      &:hover
        color: #474CC2

@media only screen and (max-width: 800px)
  #loading
    .info
      display: none

.loader
  display: none
  overflow: hidden
  margin-top: 45%
  clear: both
  text-align: center
  color: $tomato-red
  .label
    margin-top: 90px
    font-size: 22px

.loader-element
  margin: 0 auto
  font-size: 10px
  position: relative
  text-indent: -9999em
  border-top: 2.1em solid rgba(255, 255, 255, 0.2)
  border-right: 2.1em solid rgba(255, 255, 255, 0.2)
  border-bottom: 2.1em solid rgba(255, 255, 255, 0.2)
  border-left: 2.1em solid $tomato-red
  -webkit-animation: load8 1.1s infinite linear
  animation: load8 1.1s infinite linear
  border-radius: 50%
  width: 20em
  height: 20em
  top: -100px
  &:after
    border-radius: 50%
    width: 10em
    height: 10em

@-webkit-keyframes load8
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

@keyframes load8
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)
    transform: rotate(360deg)

