#loading
  margin-top: 40px

  .logo
    display: block
    width: 200px
    margin: 0 auto

  #progress_bar
    margin-top: 40px
    margin-bottom: 40px

  .launch_btn
    display: block
    width: 300px
    margin: 40px auto
    font-size: 30px

  .waiting_list
    width: 365px
    margin: 20px auto
    list-style-type: decimal

    li
      font-size: 2rem
      margin-bottom: 40px

    img
      margin: 20px auto
      display: block
      width: 350px
