@import compass/css3

=clearfix
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html
    height: 1px

=hottest-button
  color: #555
  &.active
    color: #F7BDBA
  &:hover
    color: #EE736D
  &:active
    color: #E73F36
  &:focus
    outline: none
