@import compass/css3

=clearfix
  &:after
    content: "."
    display: block
    height: 0
    clear: both
    visibility: hidden
  * html
    height: 1px

=hottest-button
  color: #555
  &.active
    color: $tomato-red
  &:hover
    color: $tomato-red
  &:active
    color: $tomato-red
  &:focus
    outline: none
