@import 'mixins'
@import 'buttons'

.player
  display: flex
  align-items: center
  justify-content: center
  height: 60px
  width: 100vw

  .player-display
    display: flex
    justify-content: flex-end
    align-items: center
    height: 60px
    margin-right: 20px
    width: 100vw

  .current-song
    color: #555
    cursor: pointer
    padding-bottom: 2px
    padding-right: 10px
    b, span
      display: block
      min-width: 200px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    b
      font-size: 18px
      padding-bottom: 4px
      padding-bottom: 2px
    span
      font-size: 14px
      padding-bottom: 2px

  .player-buttons
    display: flex
    align-items: center
    justify-content: center


  button
    margin: 0
    padding: 0
    border: 0
    background: 0

  .small-button
    cursor: pointer
    svg
      width: $button-size-small
      height: $button-size-small
      fill: $button-grey
    &:hover
      svg
        fill: $button-red

  .circle-button
    margin: 0 10px
    svg
      width: 30px
      height: 30px
    cursor: pointer
    +circle-button-colours

  .circle-button:active

  .continuous
    margin-left: 30px

  &.continuousPlay
    .icon-continuous
      fill: $button-red

.player-random
  position: relative
  cursor: pointer
  display: inline-block

  svg
    z-index: 10

  &:hover
    .i-feel-lucky
      transform: translateX(20px)
      opacity: 1
      z-index: 0

  .i-feel-lucky
    position: absolute
    top: 6px
    left: 35px
    min-width: 170px
    font-size: 16px
    opacity: 0
    will-change: transform, opacity
    +transition-property(opacity transform)
    +transition-duration(100ms)

@media only screen and (max-width: 600px)
  .player
    display: none
