@import 'mixins'

$button-grey: #aaa
$button-red: tomato
$button-size: 18px

.player
  margin: 20px 0
  text-align: center

  .current-song
    cursor: pointer

  .player-buttons
    width: 190px
    margin: 5px auto 0

  button
    margin: 0
    padding: 0
    border: 0
    background: 0
    //+hottest-button
    svg
      width: $button-size
      height: $button-size
      fill: $button-grey

    &:hover, &.active
      svg
        fill: $button-red

    i
      display: none

  .play-pause, .random
    background-color: $button-grey
    border-radius: 35px
    height: 35px
    width: 35px
    cursor: pointer
    margin: 0 10px
    svg
      position: relative
      left: 2px
      fill: white
    &:hover
      svg
        fill: white
      background-color: $button-red

  .continuous
    margin-left: 30px

  .is-paused
    .pause
      display: none

  .is-playing
    .play
      display: none

.play-random
  display: inline-block
  position: relative
  cursor: pointer

  &:hover
    .i-feel-lucky
      transform: translateX(20px)
      opacity: 1

  .i-feel-lucky
    position: absolute
    top: 9px
    left: 0px
    width: 200px
    font-size: 16px
    opacity: 0
    will-change: transform, opacity
    +transition-property(opacity transform)
    +transition-duration(200ms)

#app.active
  .current_song
    display: inline-block

@media only screen and (max-width: 600px)
  .player
    display: none
