@import animation
@import mixins
@import colours

#short_list
  counter-reset: div /* Initiate a counter */
  list-style: none /* Remove default numbering */
  *list-style: decimal /* Keep using default numbering for IE6/7 */
  padding: 10px 0 10px 10px
  text-shadow: 0 1px 0 rgba(255,255,255,.5)
  -webkit-transition: transform 1s ease-in
  -moz-transition: transform 1s ease-in
  -o-transition: transform 1s ease-in
  transition: transform 1s ease-in

  .shortlist-song:nth-child(-n+10)
    .song_tab
      position: relative
      display: block
      margin-left: 17px
      margin-top: 0

    .song_tab:before
      content: counter(div)
      counter-increment: div
      position: absolute
      left: -1.3em
      top: 50%
      margin-top: -1.3em
      background: #EE736D
      height: 2em
      width: 2em
      line-height: 2em
      border: .3em solid #fff
      text-align: center
      font-weight: bold
      border-radius: 2em
      transition: all .3s ease-out

    .song_details
      margin-left: 5px

    .song_extras
      margin-left: 17px

  .empty_list_blank_state
    background-color: #eee
    border: 1px dashed #999
    border-radius: 15px
    font-size: 1.45em
    line-height: 1.45em
    max-width: 75%
    padding: 20px
    text-align: center

+keyframes(openSpace)
  to
    max-height: 100px

+keyframes(closeSpace)
  to
    max-height: 0px

+keyframes(moveIn)
  to
    opacity: 1
    +transform(translateX(0))

+keyframes(moveOut)
  to
    opacity: 0
    +transform(translateX(-300px))

.added-song
  max-height: 0
  opacity: 0
  +transform(translateX(300px))
  +animation(openSpace 100ms ease forwards, moveIn 100ms 200s ease forwards)

.removed-song
  max-height: 100px
  opacity: 1
  +transform(translateX(0))
  +animation(moveOut 200ms ease forwards, closeSpace 200s 200s ease forwards)

.song-bounce-left
  +transform(translateX(50px))

.song-bounce-right
  +transform(translateX(-50px))

#short_list
  .shortlist-song
    -webkit-transition: all 100ms ease
    -moz-transition: all 100ms ease
    -ms-transition: all 100ms ease
    -o-transition: all 100ms ease
    transition: all 100ms ease
