$song-padding-hoz: 8px
$song-padding-vert: 15px
$song-border-radius: 5px
$song-bottom-margin: 3px

@import 'colours'
@import 'buttons'

.song
  display: flex
  list-style: none
  margin-bottom: $song-bottom-margin
  &:hover
    .song-display
      background: darken($song-background,10)
    button
      svg
        color: $button-red

  .song-display
    cursor: pointer
    border-radius: 5px
    background: $song-background
    flex: 1
    padding: 10px $song-padding-vert

  button
    height: $button-size
    background: 0
    border: none
    cursor: pointer
    margin-left: 5px
    padding: 0
    text-align: center
    svg
      width: $button-size
      height: $button-size
    +circle-button-colours

  .song-audio
    position: relative
    padding: 15px 0
