
@import 'colours'
@import 'buttons'

ul
  padding-left: 0

.song-section
  position: relative
  h3
    padding-left: 15px

.shortlist-section
  h3
    padding-left: 46px

.toggle-sort
  position: absolute
  right: 0
  margin-right: 20px
  font-size: 14px
  margin-top: 3px
  cursor: pointer
  a
    padding-right: 5px
    &:hover
      color: tomato

.emptyState
  padding: 80px
  text-align: center

  h4
    margin: 40px 0 20px
    font-size: 32px
  p
    margin-bottom: 20px

  button
    padding-right: 20px
    color: tomato
    border: 0
    font-size: 1em
    display: inline-block
    background: transparent
    &:hover
      text-decoration: underline
  button + button
    padding-left: 20px
