@import mixins
@import colours

.vote-overlay
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10
  background-color: rgba(0,0,0,0.5)
  //dim the background

  //center content
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  flex-direction: row
  -webkit-align-items: center
  align-items: center
  -webkit-justify-content: center
  justify-content: center

.vote
  .vote-screen
    position: relative
    padding: 20px
    background-color: $background-color
    border-radius: 10px
    line-height: 26px

    textarea
      display: block
      width: 350px
      min-height: 152px
      margin: 0
      resize: none
      border-color: #ccc
      color: #EB7C77
      background-color: $background-color

    ol
      padding-left: 25px
      overflow: hidden

      &.instructions
        list-style-type: decimal
        list-style-position: outside

    li
      padding: 5px

    .songs
      padding: 20px
      font-size: 14px
      color: #EB7C77
      line-height: 16px

      li
        float: left
        width: 250px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      li:nth-child(2n+1)
        clear: both

  a
    color: #EB7C77
    text-decoration: none
    &:hover
      color: #C92922
      text-decoration: underline

  .no-votes
    display: none
    padding: 30px 0 20px

  .vote-close
    position: absolute
    right: 5px
    top: 5px
    font-size: 20px
    border: none
    background-color: transparent
    +hottest-button

