%svg.defs{style:'display: none'}
  %defs
    %g{id:'logo'}
      %path{:d => "M406.2,67.5h2.7V73h-2.7V67.5z"}
      %path{:d => "M417.2,25h2.4v3.8h-2.4V25z M417.2,38.7h2.4V73h-2.4V38.7z"}
      %path{:d => "M454.9,55.2c0,12.8-2.5,18.4-13.8,18.4c-11.4,0-14.1-4.7-14.1-18.5c0-12.7,3.9-17,14.1-17C450.4,38.1,454.9,42.7,454.9,55.2\n\tz M452.4,55.2c0-11-3.6-14.9-11.2-14.9c-8.8,0-11.5,3.3-11.5,14.8c0,11.8,1.4,16.3,11.5,16.3S452.4,66.1,452.4,55.2z"}
      %path{:d => "M31.4,27.9c-4.1,0-8.4,1.1-11.4,3.1V16.7c0-3.1-2.4-5.6-5.5-5.6C11.4,11,9,13.6,9,16.7v50.7\n\tc0,3.1,2.4,5.6,5.5,5.6c3.1,0,5.5-2.6,5.5-5.6V50.5c0-6.2,4.8-11.3,11-11.3c6.2,0,11,5,11,11.3v16.9c0,3.1,2.9,5.6,6,5.6\n\tc3.1,0,6-2.6,6-5.6V50.5C54,38.1,43.8,27.9,31.4,27.9z", :fill => "tomato"}
      %path{:d => "M79.6,27.9c-12.4,0-22.5,10.1-22.5,22.5S67.2,73,79.6,73c12.4,0,22.5-10.1,22.5-22.5S92,27.9,79.6,27.9z\n\t M79.6,61.7c-6.2,0-11.3-5-11.3-11.3c0-6.2,5-11.3,11.3-11.3c6.2,0,11.3,5,11.3,11.3C90.9,56.7,85.9,61.7,79.6,61.7z", :fill => "tomato"}
      %path{:d => "M155.7,62h-2.8c-3.1,0-5.8-2.8-5.8-5.9V39h8.7c3.1,0,5.6-2.4,5.6-5.5s-2.6-5.5-5.6-5.5H147v-5.7\n\tc0-3.1-2.4-5.6-5.5-5.6c-3.1,0-5.5,2.6-5.5,5.6V28h-3h-1.3h-2.5H128h-7v-5.7c0-3.1-2.4-5.6-5.5-5.6c-3.1,0-5.5,2.6-5.5,5.6V28h-4.7\n\tc-3.1,0-5.6,2.4-5.6,5.5s2.6,5.5,5.6,5.5h4.7v17.1c0,9.3,7.1,16.9,16.4,16.9h2.8c3.1,0,5.6-2.4,5.6-5.5s-2.6-5.5-5.6-5.5h-2.8\n\tc-3.1,0-5.4-2.8-5.4-5.9V39h7h5h3v17.1c0,9.3,7.5,16.9,16.8,16.9h2.8c3.1,0,5.6-2.4,5.6-5.5S158.7,62,155.7,62z", :fill => "tomato"}
      %path{:d => "M181.3,27.9c-12.4,0-22.5,10.1-22.5,22.5S168.9,73,181.3,73h5.6c3.1,0,5.6-2.4,5.6-5.5S190.1,62,187,62h-5.6\n\tc-4.2,0-7.8-2-9.8-6h26.7c3.1,0,5.6-2.5,5.6-5.6C203.9,38,193.8,27.9,181.3,27.9z M171.6,45c1.9-4,5.5-5.6,9.8-5.6\n\tc4.1,0,7.8,1.6,9.8,5.6H171.6z", :fill => "tomato"}
      %path{:d => "M268.3,39c3.1,0,5.6-2.4,5.6-5.5s-2.6-5.5-5.6-5.5H260v-5.7c0-3.1-2.4-5.6-5.5-5.6c-3.1,0-5.5,2.6-5.5,5.6\n\tV28h-4.6c0,0,0,0,0,0h-7.7c0,0,0,0,0,0h-16.9c-7.7,0-14.1,6.3-14.1,14s6.3,14,14.1,14H231c1.6,0,2.8,1.4,2.8,3s-1.2,3-2.8,3h-19.7\n\tc-3.1,0-5.6,2.4-5.6,5.5s2.6,5.5,5.6,5.5H231c7.7,0,14.1-6.3,14.1-14s-6.3-14-14.1-14h-11.3c-1.6,0-2.8-1.4-2.8-3s1.2-3,2.8-3h16.5\n\th0.4h7.7h0.9h3.7v17.1c0,9.3,7.1,16.9,16.5,16.9h2.8c3.1,0,5.6-2.4,5.6-5.5s-2.6-5.5-5.6-5.5h-2.8c-3.1,0-5.5-2.8-5.5-5.9V39H268.3z\n\t", :fill => "tomato"}
      %path{:d => "M304.9,62H299V22.3c0-3.1-2.4-5.6-5.5-5.6c-1.5,0-2.8,0.6-3.9,1.7l-11.2,11.3c-1.1,1.1-1.7,2.6-1.7,4\n\tc0,3.1,2.6,5.6,5.6,5.6c1.4,0,2.8-0.5,4-1.7l1.7-1.7V62h-5.6c-3.1,0-5.6,2.4-5.6,5.5s2.6,5.5,5.6,5.5h22.5c3.1,0,5.6-2.4,5.6-5.5\n\tS308,62,304.9,62z", :fill => "tomato"}
      %path{:d => "M331.5,16.7c-12.4,0-22.5,10.1-22.5,22.5v11.3c0,12.4,10.1,22.5,22.5,22.5c12.4,0,22.5-10.1,22.5-22.5V39.2\n\tC354,26.8,343.9,16.7,331.5,16.7z M342,50.5c0,6.2-4.8,11.3-11,11.3c-6.2,0-11-5-11-11.3V39.2c0-6.2,4.8-11.3,11-11.3\n\tc6.2,0,11,5,11,11.3V50.5z", :fill => "tomato"}
      %path{:d => "M331.1,38.5c-3.5,0-6.3,2.8-6.3,6.3s2.8,6.3,6.3,6.3c3.5,0,6.3-2.8,6.3-6.3S334.6,38.5,331.1,38.5z", :fill => "tomato"}
      %path{:d => "M380.5,16.7c-12.4,0-22.5,10.1-22.5,22.5v11.3c0,12.4,10.1,22.5,22.5,22.5c12.4,0,22.5-10.1,22.5-22.5V39.2\n\tC403,26.8,392.9,16.7,380.5,16.7z M392,50.5c0,6.2-5.3,11.3-11.5,11.3c-6.2,0-11.5-5-11.5-11.3V39.2c0-6.2,5.3-11.3,11.5-11.3\n\tc6.2,0,11.5,5,11.5,11.3V50.5z", :fill => "tomato"}
      %path{:d => "M380.3,38.5c-3.5,0-6.3,2.8-6.3,6.3s2.8,6.3,6.3,6.3c3.5,0,6.3-2.8,6.3-6.3S383.9,38.5,380.3,38.5z", :fill => "tomato"}

    %g{id:'stereo'}
      %path{:d => "M52.8,63.4c0,2.2-1.8,4-4,4h-38c-2.2,0-4-1.8-4-4v-54c0-2.2,1.8-4,4-4h38c2.2,0,4,1.8,4,4V63.4z", :fill => "#474849"}
      %path{:d => "M50.8,61.4c0,2.2-1.8,4-4,4h-34c-2.2,0-4-1.8-4-4v-50c0-2.2,1.8-4,4-4h34c2.2,0,4,1.8,4,4V61.4z", :fill => "#5D5E5F"}
      %circle{:cx => "29.8", :cy => "44.4", :fill => "#474849", :r => "17"}
      %circle{:cx => "29.8", :cy => "44.4", :fill => "#FDBF5D", :r => "13"}
      %circle{:cx => "29.8", :cy => "44.4", :fill => "#5D5E5F", :r => "8"}
      %circle{:cx => "29.8", :cy => "44.4", :fill => "#FAD463", :r => "3"}
      %circle{:cx => "29.8", :cy => "18.4", :fill => "#474849", :r => "7"}
      %circle{:cx => "29.8", :cy => "18.4", :fill => "#FDBF5D", :r => "4"}
      %circle{:cx => "29.8", :cy => "18.4", :fill => "#5D5E5F", :r => "2"}
      %rect{:fill => "#474849", :height => "2", :width => "2", :x => "46.8", :y => "61.4"}
      %rect{:fill => "#474849", :height => "2", :width => "2", :x => "46.8", :y => "9.4"}
      %rect{:fill => "#474849", :height => "2", :width => "2", :x => "10.8", :y => "9.4"}
      %rect{:fill => "#474849", :height => "2", :width => "2", :x => "10.8", :y => "61.4"}

    %g{id:'mixer'}
      %path{:d => "M52.6,56.2c0,2.2-1.8,4-4,4h-40c-2.2,0-4-1.8-4-4v-44c0-2.2,1.8-4,4-4h40c2.2,0,4,1.8,4,4V56.2z", :fill => "#5D5E5F"}
      %path{:d => "M52.6,52.2c0,2.2-1.8,4-4,4h-40c-2.2,0-4-1.8-4-4v-44c0-2.2,1.8-4,4-4h40c2.2,0,4,1.8,4,4V52.2z", :fill => "#838687"}
      %rect{:fill => "#FDBF5D", :height => "2", :width => "18", :x => "29.6", :y => "10.2"}
      %rect{:fill => "#FAD463", :height => "2", :width => "18", :x => "29.6", :y => "8.2"}
      %rect{:fill => "#FDBF5D", :height => "2", :width => "18", :x => "9.6", :y => "10.2"}
      %rect{:fill => "#FAD463", :height => "2", :width => "18", :x => "9.6", :y => "8.2"}
      %rect{:fill => "#5D5E5F", :height => "34", :width => "2", :x => "12.6", :y => "17.2"}
      %rect{:fill => "#FAD463", :height => "2", :width => "8", :x => "9.6", :y => "43.2"}
      %rect{:fill => "#FDBF5D", :height => "2", :width => "8", :x => "9.6", :y => "45.2"}
      %rect{:fill => "#5D5E5F", :height => "34", :width => "2", :x => "22.6", :y => "17.2"}
      %rect{:fill => "#FAD463", :height => "2", :width => "8", :x => "19.6", :y => "29.2"}
      %rect{:fill => "#FDBF5D", :height => "2", :width => "8", :x => "19.6", :y => "31.2"}
      %rect{:fill => "#5D5E5F", :height => "34", :width => "2", :x => "32.6", :y => "17.2"}
      %rect{:fill => "#FAD463", :height => "2", :width => "8", :x => "29.6", :y => "37.2"}
      %rect{:fill => "#FDBF5D", :height => "2", :width => "8", :x => "29.6", :y => "39.2"}
      %rect{:fill => "#5D5E5F", :height => "34", :width => "2", :x => "42.6", :y => "17.2"}
      %rect{:fill => "#FAD463", :height => "2", :width => "8", :x => "39.6", :y => "21.2"}
      %rect{:fill => "#FDBF5D", :height => "2", :width => "8", :x => "39.6", :y => "23.2"}

    %g{id:'notes'}
      %circle{:cx => "53", :cy => "10", :fill => "#D4D7D9", :r => "3"}
      %rect{:fill => "#ECF0F2", :height => "52", :width => "40", :x => "10", :y => "11"}
      %path{:d => "M53,7H14v4h36v-1C50,9,51,7,53,7z", :fill => "#ECF0F2"}
      %rect{:fill => "#D4D7D9", :height => "6", :width => "40", :x => "7", :y => "61"}
      %circle{:cx => "7", :cy => "64", :fill => "#D4D7D9", :r => "3"}
      %circle{:cx => "47", :cy => "64", :fill => "#ECF0F2", :r => "3"}
      %rect{:fill => "#D4D7D9", :height => "3", :width => "3", :x => "50", :y => "10"}
      %circle{:cx => "14", :cy => "11", :fill => "#ECF0F2", :r => "4"}
      %circle{:cx => "36", :cy => "43", :fill => "#657B8B", :r => "4"}
      %rect{:fill => "#657B8B", :height => "16", :width => "2", :x => "38", :y => "27"}
      %polygon{:fill => "#657B8B", :points => "42,31 38,29 38,27 40,27 44,31 \t\t\t"}
      %rect{:fill => "#657B8B", :height => "2", :width => "2", :x => "42", :y => "31"}
      %rect{:fill => "#657B8B", :height => "2", :width => "20", :x => "16", :y => "27"}
      %rect{:fill => "#657B8B", :height => "2", :width => "20", :x => "16", :y => "31"}
      %rect{:fill => "#657B8B", :height => "2", :width => "20", :x => "16", :y => "35"}
      %rect{:fill => "#657B8B", :height => "2", :width => "14", :x => "16", :y => "39"}
      %rect{:fill => "#657B8B", :height => "2", :width => "14", :x => "16", :y => "43"}

    %g{id: 'beer'}
      %path{:d => "M21.9,51.4L21.9,51.4l0-4.6v-1V30.5v-1v-0.4c0-3-0.5-3.9-0.9-4.6c-1-1.7-1.8-2.6-1.8-4\n\t\t\tC19,18.1,18.2,5.3,18.1,3H13c-0.1,2.3-0.9,15-1,17.5c-0.1,1.4-0.9,2.3-1.8,4c-0.4,0.7-0.9,1.6-0.9,4.6c0,0.1,0,0.2,0,0.4l0,0\n\t\t\tc0,4.2,0,11.5,0,17.2l0,0c0,2.7,0,4.6,0,4.6v0l0,0c0,0,0,0.2,0,0.5c0,0.5,0.1,1.2,0.3,1.8c0.3,0.6,0.6,0.9,1.4,0.9h9.2\n\t\t\tc0.8,0,1.1-0.4,1.4-0.9c0.3-0.6,0.3-1.3,0.3-1.8C21.9,51.6,21.9,51.4,21.9,51.4z", :fill => "#5F574C"}
      %rect{:fill => "#EE6A54", :height => "14.1", :width => "9.6", :x => "10.7", :y => "31.8"}
      %path{:d => "M18.8,3.5c0-0.8-0.6-1.4-1.3-1.4h-3.9c-0.7,0-1.2,0.6-1.3,1.4H18.8z", :fill => "#EE6A54"}
      %path{:d => "M15.2,41l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C15.5,41.9,15.5,41.4,15.2,41z", :fill => "#F6EDA6"}
      %path{:d => "M15.2,42.7l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C15.5,43.6,15.5,43.1,15.2,42.7z", :fill => "#F6EDA6"}
      %path{:d => "M15.9,41l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C15.5,41.9,15.5,41.3,15.9,41z", :fill => "#F6EDA6"}
      %path{:d => "M15.9,42.7l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C15.5,43.6,15.5,43.1,15.9,42.7z", :fill => "#F6EDA6"}
      %path{:d => "M15.2,35.8l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C15.5,36.7,15.5,36.1,15.2,35.8z", :fill => "#F6EDA6"}
      %path{:d => "M15.2,37.5l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C15.5,38.4,15.5,37.9,15.2,37.5z", :fill => "#F6EDA6"}
      %path{:d => "M15.2,39.2l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C15.5,40.1,15.5,39.6,15.2,39.2z", :fill => "#F6EDA6"}
      %path{:d => "M15.9,35.8l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C15.5,36.7,15.5,36.1,15.9,35.8z", :fill => "#F6EDA6"}
      %path{:d => "M15.9,37.5l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C15.5,38.4,15.5,37.8,15.9,37.5z", :fill => "#F6EDA6"}
      %path{:d => "M15.9,39.2l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C15.5,40.1,15.5,39.6,15.9,39.2z", :fill => "#F6EDA6"}
      %path{:d => "M15.1,34.6c0,0.4,0.2,0.7,0.5,1c0.3-0.2,0.5-0.6,0.5-1c0-0.4-0.2-0.7-0.5-1\n\t\t\t\tC15.3,33.9,15.1,34.2,15.1,34.6z", :fill => "#F6EDA6"}
      %path{:d => "M39.3,51.4L39.3,51.4l0-4.6v-1V30.5v-1v-0.4c0-3-0.5-3.9-0.9-4.6c-1-1.7-1.8-2.6-1.8-4\n\t\t\tc-0.1-2.5-0.9-15.2-1-17.5h-5.1c-0.1,2.3-0.9,15-1,17.5c-0.1,1.4-0.9,2.3-1.8,4c-0.4,0.7-0.9,1.6-0.9,4.6c0,0.1,0,0.2,0,0.4l0,0\n\t\t\tc0,4.2,0,11.5,0,17.2l0,0c0,2.7,0,4.6,0,4.6v0l0,0c0,0,0,0.2,0,0.5c0,0.5,0.1,1.2,0.3,1.8c0.3,0.6,0.6,0.9,1.4,0.9h9.2\n\t\t\tc0.8,0,1.1-0.4,1.4-0.9c0.3-0.6,0.3-1.3,0.3-1.8C39.3,51.6,39.3,51.4,39.3,51.4z", :fill => "#5F574C"}
      %rect{:fill => "#EE6A54", :height => "14.1", :width => "9.6", :x => "28.2", :y => "31.8"}
      %path{:d => "M36.2,3.5C36.2,2.7,35.6,2,35,2h-3.9c-0.7,0-1.2,0.6-1.3,1.4H36.2z", :fill => "#EE6A54"}
      %path{:d => "M32.7,41l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C33,41.9,33,41.4,32.7,41z", :fill => "#F6EDA6"}
      %path{:d => "M32.7,42.7l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C33,43.6,33,43.1,32.7,42.7z", :fill => "#F6EDA6"}
      %path{:d => "M33.3,41l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C33,41.9,33,41.3,33.3,41z", :fill => "#F6EDA6"}
      %path{:d => "M33.3,42.7l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C33,43.6,33,43.1,33.3,42.7z", :fill => "#F6EDA6"}
      %path{:d => "M32.7,35.8l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C33,36.7,33,36.1,32.7,35.8z", :fill => "#F6EDA6"}
      %path{:d => "M32.7,37.5l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C33,38.4,33,37.9,32.7,37.5z", :fill => "#F6EDA6"}
      %path{:d => "M32.7,39.2l-1-1c-0.4,0.4-0.4,0.9,0,1.3l1,1C33,40.1,33,39.6,32.7,39.2z", :fill => "#F6EDA6"}
      %path{:d => "M33.3,35.8l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C33,36.7,33,36.1,33.3,35.8z", :fill => "#F6EDA6"}
      %path{:d => "M33.3,37.5l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C33,38.4,33,37.8,33.3,37.5z", :fill => "#F6EDA6"}
      %path{:d => "M33.3,39.2l1-1c0.4,0.4,0.4,0.9,0,1.3l-1,1C33,40.1,33,39.6,33.3,39.2z", :fill => "#F6EDA6"}
      %path{:d => "M32.5,34.6c0,0.4,0.2,0.7,0.5,1c0.3-0.2,0.5-0.6,0.5-1c0-0.4-0.2-0.7-0.5-1\n\t\t\t\tC32.7,33.9,32.5,34.2,32.5,34.6z", :fill => "#F6EDA6"}
      %rect{:fill => "#DC574B", :height => "27.3", :width => "42.2", :x => "3.2", :y => "30.3"}
      %path{:d => "M24.3,32.9c-6.1,0-11.1,5-11.1,11.1c0,6.1,5,11.1,11.1,11.1s11.1-5,11.1-11.1C35.4,37.9,30.4,32.9,24.3,32.9\n\tz M31.6,46.9c-0.2,0-0.5,0-0.6,0.1c-1.1,0-2.1-0.3-3.1-0.8c-1.2-0.5-2.2-1.2-3-2.3c-0.2-0.2-0.3-0.5-0.5-0.7c-0.1-0.2-0.2-0.2-0.2,0\n\tc-1.2,2.1-3.2,3.1-5.4,3.6c-0.8,0.2-1.6,0.2-2.4,0c-0.9-0.2-1.5-1-1.6-1.8c-0.1-0.6,0.3-1.4,0.9-1.7c0.5-0.3,1.3-0.2,1.8,0.3\n\tc0.1,0.1,0.1,0.2,0.1,0.2c-0.1,0-0.2,0-0.2,0c-0.2,0-0.3-0.1-0.5-0.1c-0.5-0.1-1,0.1-1.1,0.5c-0.2,0.5,0.1,1,0.6,1.2\n\tc0.8,0.3,1.6,0,2-0.7c0.4-0.7,0.8-1.4,1.2-2.2c0.4-0.6,0.9-1.1,1.6-1.4c0.5-0.3,1.1-0.2,1.6,0c0.5,0.1,0.9,0.4,1.3,0.6\n\tc0.1,0.1,0.2,0.1,0.3,0c0.6-0.4,1.3-0.6,2.1-0.7c0.4,0,0.8,0.1,1.1,0.3c0.8,0.4,1.3,1.1,1.7,1.8c0.3,0.5,0.6,1.1,0.9,1.6\n\tc0.4,0.7,1.2,1,1.9,0.8c0.4-0.1,0.6-0.4,0.7-0.8c0.1-0.4,0-0.7-0.4-0.9c-0.2-0.1-0.4-0.2-0.6-0.1c-0.2,0.1-0.4,0.1-0.6,0.2\n\tc-0.1,0-0.1,0-0.2,0c0-0.1,0-0.2,0.1-0.2c0.8-0.7,2-0.5,2.5,0.5c0.4,0.7,0.2,1.4-0.3,2C32.9,46.6,32.3,46.8,31.6,46.9z", :fill => "#FBE39D"}
      %path{:d => "M34.9,72.1c-1.1,0-2.1-0.3-3.1-0.8c-1.2-0.5-2.2-1.2-3-2.3c-0.2-0.2-0.3-0.5-0.5-0.7c-0.1-0.2-0.2-0.2-0.2,0\n\tc-1.2,2.1-3.2,3.1-5.4,3.6c-0.8,0.2-1.6,0.2-2.4,0c-0.9-0.2-1.5-1-1.6-1.8c-0.1-0.6,0.3-1.4,0.9-1.7c0.5-0.3,1.3-0.2,1.8,0.3\n\tc0.1,0.1,0.1,0.2,0.1,0.2c-0.1,0-0.2,0-0.2,0c-0.2,0-0.3-0.1-0.5-0.1c-0.5-0.1-1,0.1-1.1,0.5c-0.2,0.5,0.1,1,0.6,1.2\n\tc0.8,0.3,1.6,0,2-0.7c0.4-0.7,0.8-1.4,1.2-2.2c0.4-0.6,0.9-1.1,1.6-1.4c0.5-0.3,1.1-0.2,1.6,0c0.5,0.1,0.9,0.4,1.3,0.6\n\tc0.1,0.1,0.2,0.1,0.3,0c0.6-0.4,1.3-0.6,2.1-0.7c0.4,0,0.8,0.1,1.1,0.3c0.8,0.4,1.3,1.1,1.7,1.8c0.3,0.5,0.6,1.1,0.9,1.6\n\tc0.4,0.7,1.2,1,1.9,0.8c0.4-0.1,0.6-0.4,0.7-0.8c0.1-0.4,0-0.7-0.4-0.9c-0.2-0.1-0.4-0.2-0.6-0.1c-0.2,0.1-0.4,0.1-0.6,0.2\n\tc-0.1,0-0.1,0-0.2,0c0-0.1,0-0.2,0.1-0.2c0.8-0.7,2-0.5,2.5,0.5c0.4,0.7,0.2,1.4-0.3,2c-0.4,0.6-1,0.8-1.7,0.9\n\tC35.3,72,35.1,72,34.9,72.1z"}


    %g{id: 'shuffle'}
      %path{:d => "M25.8,10.4c-0.9,0.4-1.8,1-2.7,1.9c-0.9,0.9-1.6,1.6-2.2,2.3c-0.5,0.6-1.3,1.7-2.4,3c-0.9,1.2-1.7,2.2-2.2,2.8\n\tc-0.5,0.6-1.3,1.5-2.3,2.5c-1,1-2,1.8-2.8,2.4c-0.9,0.5-1.9,1-3.2,1.4c-1.3,0.4-2.6,0.6-3.9,0.6H0V22h4c1,0,2-0.2,2.9-0.6\n\tc0.9-0.4,1.8-1,2.7-1.9c0.9-0.9,1.6-1.6,2.2-2.3c0.6-0.6,1.4-1.7,2.4-3c0.9-1.2,1.7-2.2,2.2-2.8C17,10.9,17.7,10,18.8,9\n\ts2-1.8,2.9-2.3c0.9-0.5,1.9-1,3.2-1.4c1.2-0.4,2.5-0.7,3.9-0.7h1.3V0L38,6.8l-7.9,6.9V9.9h-1.3C27.6,9.9,26.6,10.1,25.8,10.4z\n\t M4,10.2H0V5h4c3.5,0,6.7,1.3,9.6,4c-0.6,0.7-1.4,1.8-2.4,3c-0.4,0.5-0.7,0.9-0.9,1.2C8.3,11.2,6.2,10.2,4,10.2z M30.1,18.6l7.9,6.8\n\tl-7.9,6.8v-4.5h-1.3c-3.6,0-6.9-1.5-9.9-4.5c0.6-0.8,1.5-1.9,2.7-3.4c0.2-0.3,0.4-0.5,0.6-0.7c2.1,2.2,4.4,3.3,6.7,3.3h1.3V18.6z"}

    -#:viewbox => "0 0 38 22.9"
    %g{id: 'continuous'}
      %path{:d => "M18.3,17.5l4.8,5.3H8.3c-1,0-1.9-0.4-2.7-1.1S4.5,20.1,4.5,19V7.6H0L7.2,0l7.2,7.6H9.9v9.9H18.3z M38,15.2l-7.3,7.6\n\tl-7.2-7.6h4.6V5.3h-8.5L14.8,0h14.8c1,0,1.9,0.4,2.7,1.1s1.1,1.7,1.1,2.7v11.4H38z"}

    %svg#play{:viewbox => "0 0 15.27 20"}
      %path{:d => "M0.54,1.1A1.25,1.25,0,0,1,2.4.17,51,51,0,0,1,13.34,8.9a1.25,1.25,0,0,1,0,1.7A52.37,52.37,0,0,1,2.43,19.81a1.25,1.25,0,0,1-1.9-.92A74.72,74.72,0,0,1,.54,1.1Z"}
    %svg#pause{:viewbox => "0 0 13 17"}
      %rect.cls-1{:height => "17", :rx => "1", :ry => "1", :width => "5"}
      %rect.cls-1{:height => "17", :rx => "1", :ry => "1", :width => "5", :x => "8"}
    %svg#up-arrow{:viewbox => "0 0 13.69 20"}
      %path{:d => "M6.8,0.27A38.9,38.9,0,0,0,.13,8.61a1,1,0,0,0,0,.9A1,1,0,0,0,.84,10c1.22,0.15,2.45.24,3.67,0.3l1.68,9A0.86,0.86,0,0,0,7,20H8.25a0.86,0.86,0,0,0,.81-0.67l1.69-9c1.23-.07,2.45-0.16,3.67-0.3a1,1,0,0,0,.75-0.53,1,1,0,0,0,0-.92A39.93,39.93,0,0,0,8.1.25,1,1,0,0,0,6.8.27Z"}
    %svg#fastforward{:viewbox => "0 0 20 13.15"}
      %path{:d => "M1.58,0.11A0.82,0.82,0,0,0,.35.72a49.13,49.13,0,0,0,0,11.71,0.82,0.82,0,0,0,1.25.6A34.43,34.43,0,0,0,8.79,7a0.82,0.82,0,0,0,0-1.12A33.5,33.5,0,0,0,1.58.11Z"}
      %path{:d => "M19.77,5.85A33.53,33.53,0,0,0,12.58.11a0.82,0.82,0,0,0-1.23.61,49.13,49.13,0,0,0,0,11.71,0.82,0.82,0,0,0,1.25.6A34.43,34.43,0,0,0,19.79,7,0.82,0.82,0,0,0,19.77,5.85Z"}
    %svg#rewind{:viewbox => "0 0 20 13.16"}
      %path{:d => "M19.65,0.72a0.82,0.82,0,0,0-1.25-.6,34.44,34.44,0,0,0-7.19,6.06,0.82,0.82,0,0,0,0,1.12A33.61,33.61,0,0,0,18.42,13a0.82,0.82,0,0,0,1.23-.61A49.14,49.14,0,0,0,19.65.72Z"}
      %path{:d => "M8.19,0.08a0.82,0.82,0,0,0-.79,0A34.42,34.42,0,0,0,.21,6.18a0.82,0.82,0,0,0,0,1.12A33.58,33.58,0,0,0,7.42,13a0.82,0.82,0,0,0,1.23-.61A49.14,49.14,0,0,0,8.65.72,0.82,0.82,0,0,0,8.19.08Z"}
    %svg#continue{:viewbox => "0 0 25.21 24.27"}
      %path{:d => "M23,11.58a2,2,0,0,0-2,2A3.42,3.42,0,0,1,17.58,17H7.15c0-.9-0.11-1.79-0.22-2.69a0.66,0.66,0,0,0-1-.49,26.85,26.85,0,0,0-5.76,4.6,0.66,0.66,0,0,0,0,.9,27.54,27.54,0,0,0,5.76,4.85,0.66,0.66,0,0,0,1-.48C7,22.8,7.1,21.9,7.15,21H17.58A7.43,7.43,0,0,0,25,13.58,2,2,0,0,0,23,11.58Z"}
      %path{:d => "M25,5A27.53,27.53,0,0,0,19.28.1a0.66,0.66,0,0,0-1,.48Q18.13,1.79,18.07,3H7.42A7.43,7.43,0,0,0,0,10.42v0.42a2,2,0,0,0,4,0V10.42A3.42,3.42,0,0,1,7.42,7H18.05c0,1,.11,2,0.23,3a0.66,0.66,0,0,0,1,.49A26.85,26.85,0,0,0,25,5.85,0.66,0.66,0,0,0,25,5Z"}
    %svg#cross{:viewbox => "0 0 20 20"}
      %path{:d => "M19.56,17.44a1.5,1.5,0,0,0,0-2.12L14.25,10l5.31-5.31a1.5,1.5,0,0,0,0-2.12L17.44,0.44a1.5,1.5,0,0,0-2.12,0L10,5.75,4.69,0.44a1.5,1.5,0,0,0-2.12,0L0.44,2.56a1.5,1.5,0,0,0,0,2.12L5.75,10,0.44,15.31a1.5,1.5,0,0,0,0,2.12l2.12,2.12a1.5,1.5,0,0,0,2.12,0L10,14.25l5.31,5.31a1.5,1.5,0,0,0,2.12,0Z"}
    %svg#plus{:viewbox => "0 0 20 20"}
      %path{:d => "M17.78,6.67H13.33V2.22A2.22,2.22,0,0,0,11.11,0H8.89A2.22,2.22,0,0,0,6.67,2.22V6.67H2.22A2.22,2.22,0,0,0,0,8.89v2.22a2.22,2.22,0,0,0,2.22,2.22H6.67v4.44A2.22,2.22,0,0,0,8.89,20h2.22a2.22,2.22,0,0,0,2.22-2.22V13.33h4.44A2.22,2.22,0,0,0,20,11.11V8.89A2.22,2.22,0,0,0,17.78,6.67Z"}
    %svg#arrow-circ{:viewbox => "0 0 35 35"}
      %circle{:fill=>'currentColor', :cx => "17.5", :cy => "17.5", :r => "17.5"}
      %path{:d => "M395.085,150.962a38.9,38.9,0,0,0-6.668,8.348,0.948,0.948,0,0,0-.029.9,0.958,0.958,0,0,0,.741.522c1.22,0.146,2.446.238,3.673,0.3l1.677,8.982a0.86,0.86,0,0,0,.812.675h1.242a0.861,0.861,0,0,0,.812-0.675l1.694-8.978c1.227-.067,2.452-0.155,3.672-0.3a0.964,0.964,0,0,0,.748-0.533,0.95,0.95,0,0,0-.049-0.917,39.928,39.928,0,0,0-7.026-8.348A0.953,0.953,0,0,0,395.085,150.962Z", :transform => "translate(-378.421 -143.196)"}
    %svg#cross-circ{:viewbox => "0 0 35 35"}
      %circle{:fill=>'currentColor', :cx => "17.5", :cy => "17.5", :r => "17.5"}
      %path{:d => "M348.1,167.231a1.251,1.251,0,0,0,0-1.773l-4.433-4.433,4.433-4.435a1.251,1.251,0,0,0,0-1.773l-1.773-1.773a1.255,1.255,0,0,0-1.773,0l-4.433,4.433-4.435-4.433a1.255,1.255,0,0,0-1.773,0l-1.773,1.773a1.251,1.251,0,0,0,0,1.773l4.433,4.435-4.433,4.433a1.251,1.251,0,0,0,0,1.773L333.914,169a1.255,1.255,0,0,0,1.773,0l4.435-4.433L344.556,169a1.255,1.255,0,0,0,1.773,0Z", :transform => "translate(-322.621 -143.524)"}
    %svg#pause-circ{:viewbox => "0 0 35 35"}
      %circle{:fill=>'currentColor', :cx => "17.5", :cy => "17.5", :r => "17.5"}
      %rect{:height => "17", :rx => "1", :ry => "1", :width => "5", :x => "11", :y => "9"}
      %rect{:height => "17", :rx => "1", :ry => "1", :width => "5", :x => "19", :y => "9"}
    %svg#play-circ{:viewbox => "0 0 35 35"}
      %circle{:fill=>'currentColor', :cx => "17.5", :cy => "17.5", :r => "17.5"}
      %path{:d => "M159.015,152.1a1.25,1.25,0,0,1,1.867-.931,51,51,0,0,1,10.936,8.733,1.248,1.248,0,0,1,.023,1.7,52.371,52.371,0,0,1-10.936,9.209,1.249,1.249,0,0,1-1.9-.915A74.721,74.721,0,0,1,159.015,152.1Z", :transform => "translate(-145.421 -143.496)"}
    %svg#plus-circ{:viewbox => "0 0 35 35"}
      %circle{:fill=>'currentColor', :cx => "17.5", :cy => "17.5", :r => "17.5"}
      %path{:d => "M289.077,157.363h-4.444v-4.444a2.221,2.221,0,0,0-2.222-2.222h-2.222a2.221,2.221,0,0,0-2.222,2.222v4.444h-4.444a2.221,2.221,0,0,0-2.222,2.222v2.222a2.221,2.221,0,0,0,2.222,2.222h4.444v4.444a2.222,2.222,0,0,0,2.222,2.222h2.222a2.222,2.222,0,0,0,2.222-2.222v-4.444h4.444a2.221,2.221,0,0,0,2.222-2.222v-2.222A2.221,2.221,0,0,0,289.077,157.363Z", :transform => "translate(-263.8 -143.196)"}
