!!!
%html
  %head
    %title
      hottest100.io
    = stylesheet_link_tag '/assets/application'

  %body

    = yield

    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
    = javascript_include_tag '/assets/application'
